main{
  margin: 10%;
  padding: 10%;
}


#form-body {
  margin: 0;
  padding: 0;
} 

header {
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-bottom: 50px;
  padding: 10px;
}


#logo{

  max-height:200px;
  max-width: 200px;
  border-radius: 20vw;
}

.img-wrapper{

  background-position: center;
  background:url("https://source.unsplash.com/phIFdC6lA4E");
  background-size: cover;



}
