main {
  max-height: 100%;
  margin: 0;

}



#logo {
  height: auto;
  object-fit: cover;
  max-height:250px;
  max-width: 250px;
  border-radius: 20vw;
  border-radius: 20vw;
  padding: 50;
  justify-content: right;

}


.img-wrapper{
  background-position: center;
  background:url("https://source.unsplash.com/phIFdC6lA4E");
  background-size: cover;

}

.responsive-img2 {
  height: 100%;
}

.card-img-custom {
  height: 300px;
}

.card-holding-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .card {
  background: #13293d;
    text-align: center;
} 

.row-top {
  height: 500px;
}

.col-h {
  display: flex;
  height: 100%;
  
  padding: 0 !important;
  justify-content: center;
  align-items: center;

}

.col-h2 {
  display: flex;
  height: 100%;
  width: 50%;  
  padding: 0 !important;
  justify-content: center;
  align-items: center;

}

#log-in-btn {

margin-left: 90%;

}


.getting-started-container {
  height: 50vh;
  width: 100%;
  margin: 1%;


} 

#getting-started-left {
  height: 100%;
}

#example-projects-container {
  height: 50vh;
}


/* Modal CSS */



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-left: 40px;
  padding-right: 30px;
  left: 0;
  top: 90px;
  width: 80%; /* Full width */
  height: 80%; /* Full height */
  font-size: 40px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: white; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  margin-top: 0px;
  margin-right: 16px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





