

main {
  height: 100vh;
  margin: 0;
}


/* Buttons */
#log-in-btn {
  height: 38px;
  width: 50px;
  margin: 15px;
}

#logo{
  max-height: 200px;
  max-width: 200px;
  border-radius: 10vw;
  padding: 50;
  justify-content: right;
  margin-left:42%;
}

.img-wrapper{
  background:url("https://source.unsplash.com/phIFdC6lA4E");
  background-size: cover;
  }
